body {
    width: 960px;
    margin: auto;
    background-color: khaki;
  }
body header ol{
  line-height: 20px;
  color: brown;
  text-align: center;
}
  a {
    text-decoration: none;
    text-transform: capitalize;  
    color: aqua;
  }
  
  .logo {
    width: 155px;
    display: block;
    margin: auto;
  }
  
  header nav ul li {
    display: inline;
    padding: 10px;
  }
  
  header nav ul {
    text-align: center;
  }
  
  p {
    line-height: 30px;
    border: royalblue;
    padding: 30%;
  }
  
  main p:nth-child(2) {
    color: rgb(19, 126, 197);
  }
  main ul li:nth-child(odd) {
    background:blue ;
    font-size: medium;
  }
  
  main ul li:nth-child(even) {
    background:cornflowerblue;
    border-radius: 5px;
    font-size: small;
  }
    
  footer {
    text-align: center;
    font-size: x-small;
    background-color: black;
    color: blanchedalmond;
  }